<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="deploy.android.lozanofit.es.lozanofitroutinemixer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_santi_ball"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_santi_ball_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.Activity15"></activity>
        <activity android:name=".activities.Activity14" />
        <activity android:name=".activities.Activity13" />
        <activity android:name=".activities.Activity12" />
        <activity android:name=".activities.Activity11" />
        <activity android:name=".activities.Activity10" />
        <activity android:name=".activities.Activity9" />
        <activity android:name=".activities.Main2Activity" />
        <activity android:name=".activities.Activity8" />
        <activity android:name=".activities.Activity7" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Activity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Activity3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Activity4"
            android:label="@string/title_activity_4" />
        <activity android:name=".activities.Activity5" />
        <activity android:name=".activities.Activity6" />
    </application>

</manifest>